*{
  margin:0;
  padding:0;
}

.section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}
*::-webkit-scrollbar{
  display:none;
}

.img{
  aspect-ratio: auto;
  position: absolute;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  /* min-width: 500px; */
  height: 100vh;
  z-index: 1;

}
.copy{

  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  font-size: 1.4rem;
  position: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  text-align: center;
  z-index: 5;
  /* @media (min-width 786px) {
    font-size:3rem
    
  } */
}


.container{
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.17); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.whiteOverlay {
  position: relative; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #42382c9a; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.inputLabel{
  color:  var(--mantine-color-giantsjj-1);
}

.inputElement{
  background-color: var(--mantine-color-giantsjj-1);
  border-color: var(--mantine-color-giantsjj-6);
  color:  var(--mantine-color-giantsjj-9);
}
.inputElement::placeholder{
  color:var(--mantine-color-giantsjj-9) ;
}
.iconElement{
  background-color: var(--mantine-color-giantsjj-1);

}