*{
  margin:0;
  padding:0;
}

.section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;

}
*::-webkit-scrollbar{
  display:none;
}

.img{
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* @media (min-width 786px) {
    height: 100%;
    width: auto;
  } */

}
.copy{

  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  font-size: 1.4rem;
  position: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
  text-align: center;
  z-index: 5;
  /* @media (min-width 786px) {
    font-size:3rem
    
  } */
}

.container{
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.15); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;

}
.section {
  width: 100%;
  height: 100vh;
  background-size:  auto;
  scroll-snap-align: start;
}
.section:nth-child(1) {
  background: url(./assets/bg1.jpg);
}
.section:nth-child(2) {
  background: url(https://cdn.pixabay.com/photo/2015/06/02/12/59/narrative-794978_960_720.jpg);
}
.section:nth-child(3) {
  background: url(https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_960_720.jpg);
}
.section:nth-child(3) {
  background: url(https://cdn.pixabay.com/photo/2015/12/19/20/32/paper-1100254_960_720.jpg);
}
.section:nth-child(4) {
  background: url(https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg);
}
.section:nth-child(5) {
  background: url(https://cdn.pixabay.com/photo/2014/05/03/00/46/notebook-336634_960_720.jpg);
} */

